.wrapper {
  padding: 30px 10px;
  width: 1221px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.wrapper .icon {
  color: #08546c;
  cursor: pointer;
  margin-left: 15px;
  font-size: 20px;
}
