.wrapper{
  height: 100vh;
  background-color: #252830;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper .inner_wrapper{
  width: 60%;
  height: 450px;
  background-color: #2A2F40;
}

.inner_wrapper .product_image {
  width: 350px;
  background-color: tomato;
  height: 100%;
  border-radius: 0px 100% 100% 0px;
}