.wrapper {
  background-color: #354152;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e8ba3;
}

.wrapper .form_wrapper {
  width: 350px;
  height: 500px;
  display: flex;
  background-color: #354152;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 250px #000;
  border-radius: 5px;
}

.icon {
  color: #378f7b;
  font-size: 26px;
}

.wrapper .form_wrapper h4 {
  margin: 25px 0px;
}

.form_wrapper .inner_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login_button {
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  color: #354152;
  margin-top: 20px;
}

.inner_form_wrapper input {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 3px 40px;
  text-align: center;
  border: 1px solid #242c37;
}

.inner_form_wrapper input::placeholder {
  font-size: 14px;
  color: #56647e;
}

.inner_form_wrapper input:focus {
  border: 1px solid #378f7b;
  box-shadow: 0 0 3px #378f7b;
  outline-offset: 0px;
  outline: none;
}

.inner_form_wrapper input:active {
  border: none;
  border: 1px solid #242c37;
}

.bottom_wrapper {
  margin-top: 50px;
}

.bottom_wrapper span {
  font-weight: 700;
}
