.header{
 display: flex;
 justify-content: flex-end;
 background-color: rgb(100, 143, 75);
}

.list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.listItem{
    margin: 0px 20px;
    padding: 0px 10px;
}

.listItem h1{
    color: white;
    font-style: oblique;
}