/* footer */

.footer{
 width: 100%;
 padding: 30px 50px;
}

.footer .footer_links h6 {
  color: #252525;
  margin-bottom: 25px;
  margin-top: 20px;
  text-transform: uppercase;
}

.footer .footer_links ul {
  padding-left: 0px;
}

.footer .footer_links ul li {
  padding-bottom: 15px;
}

.footer_links ul li a {
  font-size: 14px;
  color: #858585;
  cursor: pointer;
  text-decoration: none;
}

.footer_links p {
  font-size: 14px;
  color: #858585;
}

.footer_links address {
  font-size: 14px;
  color: #858585;
}

.footer_links email a {
  font-size: 14px;
  color: #858585;
  text-decoration: none;
}

.footer_links p a {
  font-size: 14px;
  color: #858585;
  text-decoration: none;
}

.footer_links ul {
  text-decoration: none;
}

.footer_links ul li {
  list-style: none;
}

/* lower footer */

.lower_footer p {
  font-size: 14px;
  color: #858585;
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid lightblue;
  margin: 0px;
}